@import url(styles.css);

.header__info {
    background-color: var(--green_two);
    text-align: end;
    overflow: hidden;
    
}

.header__info p {
    color: var(--black);
    font-weight: 700;
    padding: 5px 25px 5px 0;
    white-space: nowrap;
    animation: moveText 25s linear infinite;
}
.container-navbar {
    background-color: #332C31;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo img {
    height: 60px;
    margin-right: 20px;
}
.green-span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--green_one);
}
.white-span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--white);
}
.navbar__elm {
    display: flex;
    align-items: center;

}

.navbar__elm>* {
    margin-left: 40px;
}

.nav__list {
    list-style-type: none;
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav__link {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
    position: relative;
}
.nav__link a {
    text-decoration: none;
    color: var(--white);
    position: relative;
}

.dropdown__menu {
    width: 300px;
    list-style-type: none;
    position: absolute;
    top: 100%; /* Coloca el submenú debajo del elemento padre */
    left: 0;
    background-color: #332C31;
    padding: 10px;
    display: none; /* Oculta el menú inicialmente */
    z-index: 100;
    display: absolute;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .dropdown__menu li {
    padding: 14px 15px;
  }
  
  .dropdown__menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
  }
  
  /* Muestra el submenú al pasar el mouse */
  .nav__link.dropdown:hover .dropdown__menu {
    display: block;
  }
  
  /* Opcional: Estilo al pasar el mouse sobre los elementos del submenú */
  .dropdown__menu li:hover {
    background-color: #615858;
  }  

  .dropdown__submenu {
    list-style-type: none;
    display: none; /* Ocultar inicialmente */
    position: absolute;
    top: 0;
    left: 100%; /* Submenú se posiciona a la derecha */
    background-color: #332C31;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;

  }
  .dropdown__submenu a::after {
    content: none !important;
  }
  #submenu__arrow {
    position: absolute;
    right: 10px; /* Mantiene la flecha a la derecha */
    top: 50%; /* Posiciona la flecha verticalmente desde el 50% del contenedor */
    transform: translateY(-50%); /* Ajusta para centrarla completamente */
    cursor: pointer;
    z-index: 20;
    color: #fff;
    background: none;
    font-size: 15px;
  }
  
  .dropdown__item {
    position: relative;
  }
  .dropdown__item:hover .dropdown__submenu {
    display:block;
  }

.nav__link > a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav__link:hover a::after {
    opacity: 1;
}

.search__icon img {
    height: 28px;
    
}

.search__icon:hover img {
    transform: scale(1.2); /* Aumenta el tamaño */
    filter: brightness(1.2); /* Aumenta el brillo */
}
.navbar__toogle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.navbar__mobile-menu {
    display: none;
    
}

.button_primary img{
    height: 28px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.button_primary:hover img {
    transform: scale(1.2); /* Aumenta el tamaño */
    filter: brightness(1.2); /* Aumenta el brillo */
  }

@keyframes moveText {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 1024px) {
    .nav__list {
        display: none;
    } 
    .navbar__elm {
        margin-left: 20px;
    }

    .navbar__mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 130px;
        padding: 0px;
        right: 0;
        background-color: #332C31;
        width: 250px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 21;
    }

    .nav__link-mobile {
        width: 100%;
        margin-left: 40px;
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 5px;
        margin: 30px 0;
        padding: 15px;
        
    }

    .nav__link-mobile:hover {
        background-color:#615858;
        border-bottom: 1px solid #cac7ff;
        
    }

    .nav__list-mobile{
        list-style: none;
        margin-bottom: 15px;
        text-align: center;
        
    }
    .nav__list-mobile a{
        color: var(--white);
        position:relative;
    }
    .nav__link-mobile a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--white);
        opacity: 0;
    }

    .navbar__toogle-btn{
        display: block;
        margin: 0;
        padding: 15px;
    }

    .navbar__toogle-btn img{
        height: 28px;
        margin: 0 10px;
    }
}

@media (max-width: 580px) {
    .nav__link {
        margin-left: 10px;
    }
    .navbar__elm > * {
        margin-left: 10px;
    }
    .button_primary {
        display: none;
    }
}


@media only screen and (max-width: 360px) {



    .navbar__logo img {
        height: 50px; /* Ajusta el tamaño del logo */
    }

    .nav__list {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding-left: 0;
    }

    .nav__link {
        margin-left: 0; /* Elimina el margen izquierdo para centrar los enlaces */
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .navbar__toogle-btn{
        display: block;
        margin: 0;
        padding: 0px;
    }

    .navbar__toogle-btn img{
        height: 28px;
        margin: 0 5px;

    }

    .navbar__mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 121px;
        right: 0;
        background-color: #332C31;
        width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 20;
    }

    .nav__link-mobile {
        margin: 10px 0;
        text-align: center;
        font-size: 1rem;
        font-weight: 100;
        
    }

    .nav__list-mobile {
        align-items: center;
    }
    
    .search__icon{
        display: none;
    }
    .button_primary img{
        display: none;
    }

}

.slider-container{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.slider-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Ajusta la altura del degradado */
    border-bottom: 3px solid var(--green_four); /* Cambia el color y grosor según tu diseño */
    pointer-events: none; /* Permite interactuar con el slider sin interferencias */
    z-index: 2; /* Coloca el gradiente por encima del contenido del slider */
  }

.slider-wrapper .slider-item {
    height: 100vh;
    width: 100%;
    position:relative;
    display: flex;
    align-items: center;

}

.slider-wrapper .slider-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(20%);
    background-image: url("img/img-1.jpg");
    background-size: cover;
    background-position: center;
}

.slider-wrapper .slider-item:nth-child(2):before {
    background-image: url("img/img-2.jpg");
}
.slider-wrapper .slider-item:nth-child(3):before {
    background-image: url("img/img-3.jpg");
}
.slider-wrapper .slider-item:nth-child(4):before {
    background-image: url("img/img-4.jpg");
}
.slider-wrapper .slider-item:nth-child(5):before {
    background-image: url("img/img-5.jpg");
}
.slider-wrapper .slider-item .slide-content {
    opacity: 0;
    color: #fff;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1440px;
    position: relative;
}

.slider-item.swiper-slide-active .slide-content {
     animation: animate_opacity 0.8s 0.6s linear forwards;
}

@keyframes animate_opacity {
    100%{
        opacity: 1;
    }
}

.slider-wrapper .slider-item .slide-content > * {
    max-width: 35%;
}


.slider-item .slide-content .slide-subtitle {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0;
    transform: translateY(60%);
}
.slider-item .slide-content .slide-title {
    font-size: 1.rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(60%);
}

.slider-item.swiper-slide-active :where(.slide-subtitle, .slide-title ) {
    animation: animate_text 0.8s 0.6s linear forwards;
}

@keyframes animate_text {
   100%{
       opacity: 1;
       transform: translateY(0%);
   }
}

.slider-item .slide-content .slide-description {
    margin-top: 25px;
    line-height: 25px;
    opacity: 0;
    transform: translateY(60%);
}

.slider-item.swiper-slide-active .slide-description{
    animation: animate_text 0.6s 1s linear forwards;
}

.slider-item .slide-content .slide-button {
    color: var(--green_four);
    opacity: 0;
    width: 0;
    padding: 13px 0;
    display: block;
    margin-top: 45px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--green_four);
    transition: 0.5 ease;
}

.slider-item .slide-content .slide-button span {
    opacity: 0;
}

.slider-item.swiper-slide-active .slide-button span{
    animation: animate_opacity 0.6s 1.4s linear forwards;
}

.slider-item.swiper-slide-active .slide-button {
    animation: animate_button 0.6s 1.3s linear forwards;
}

@keyframes animate_button {
    100%{
        opacity: 1;
        width: 250px;
    }
 }

.slider-item .slide-content .slide-button:hover{
    color: #000;
    background: var(--green_four);
}

.slider-container .slider-controls {
    position: absolute;
    bottom: 45px;
    z-index: 20;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-controls .slider-pagination {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
    list-style: none;
    justify-content: space-between;
    
}

.slider-pagination .slider-indicator {
    position: absolute;
    bottom: 0;
    border-bottom: 3px solid var(--green_four);
    transition: 0.4s ease-in-out;

}

.slider-pagination .slider-tab{
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 20px 30px;
    border-bottom: 1px solid var(--green_four);
}

.slider-navigations button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 20;
    color: var(--green_four);
    border: none;
    border-radius: 0 25px 25px 0; /* Forma de semicírculo */
    background: #332C31;
    transform: translateY(-50%);
    transition: 0.4s ease;
}

.slider-navigations button.swiper-button-disabled {
    display: none;
}

.slider-navigations button:hover {
    background: #323235;
}

.slider-navigations button#slide-prev {
    border-radius: 0 25px 25px 0;
    left: 0px;
}

.slider-navigations button#slide-next {
    border-radius: 25px 0 0 25px;
    right: 0px;
    
}

.search-container {
    width: 100%;
    margin: 0 auto;
    height: 0px;
    padding: 5%;
    background-image: linear-gradient(to bottom, #0a0a09, #332C29);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

.search-bar {
    width: 100%;
    max-width: 800px;
    height: 60px;
    background: rgba(51,44,41,0.8);
    border: 1px solid var(--green_four);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 2px 20px;
    
}

.search-bar input#search-input-large{
    display: block;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    filter:grayscale(1);
}
.search-bar input#search-input-small{
    display: none;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    filter:grayscale(1);
}

.search-bar input{
    color: var(--white);
}

.search-bar input:hover{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: var(--white);
}

.search-bar button img {
    width: 25px;
}

.search-bar img {
    filter:grayscale(1);
    align-items: center;
    display: flex;
    position: relative;
}

.search-bar:hover img {
    transform: scale(1.2); /* Aumenta el tamaño */
    filter: brightness(1.2); /* Aumenta el brillo */
    filter: grayscale(1);

}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    cursor: pointer;
}

::placeholder {
    color: #cac7ff;
}

@media (max-width: 1536px){
    .slider-wrapper .slider-item .slide-content, .slider-controls .slider-pagination {
        width: 85%;
    }

}

@media (max-width: 1024px) {
    .slider-wrapper .slider-item .slide-content, .slider-controls .slider-pagination {
        width: 100%;
    }

    .slider-wrapper .slider-item .slide-content > * {
        max-width: 100%;
    }
    .slider-navigations button {
        top: unset;
        bottom: -15px;
        background: none;

    }
    .slider-navigations button:hover {
        background: none;
    }
}


@media (max-width: 768px){
    .slider-wrapper .slider-item .slide-content > * {
        max-width: 100%;   
    }

    .slider-pagination .slider-tab {
        font-size: 14px;
    }
    .search-container {
        flex-direction: column; /* Cambia a una disposición vertical */
        max-width: 100%; /* Ocupa todo el ancho disponible */
        padding: 50px;
      }
    
      .search-container input[type="text"] {
        font-size: 14px;
        
      }
    
      .search-container button {
        font-size: 14px;
        padding: 10px;
      }
      .search-bar input#search-input-large {
        display: none;
      }
      .search-bar input#search-input-small {
        display: inline-block;
        padding: 0px;
        font-size: 17px;
        max-width: 85%;
      }
}
    @media (max-width: 360px){
        .slider-item .slide-content .slide-button {
            max-width: 100%;
        }
        .slider-pagination .slider-tab {
            font-size: 12px;
            font-weight: bold;
        }
        .search-container {
            flex-direction: column; /* Cambia a una disposición vertical */
            max-width: 100%; /* Ocupa todo el ancho disponible */
            padding: 50px;
            }
          
        .search-container input[type="text"] {
            font-size: 12px;
            padding: 8px;
            }
          
        .search-container button {
            font-size: 12px;
            padding: 8px;
            }

        .search-bar input#search-input-large {
            display: none;
              }
        .search-bar input#search-input-small {
            display: inline-block;
            padding: 0px;
            font-size: 15px;
            max-width: 80%;
        }
}

